# MATLAB / Simulink
slprj/
*.asv
*.bak
*.tmp
*.slxc

# ROS 2 Build Artifacts & Python
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
__pycache__/
*.pyc

# OS / Editor Files
desktop.ini
.DS_Store
Thumbs.db
.vscode/
.idea/
